:host {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #e7cbac;
}

.header {
  padding: 10px;
  text-align: center;
}

.the-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  max-width: 50vw;
  height: 50vh;
  max-height: 50vw;
  background-color: transparent;
  background-image: url('../assets/corn.svg');
  background-size: contain;
  border-radius: 50%;
  border: 0 none;
}
